In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import pickle

numpy

In [3]:
df=pd.read_csv('cropdata.csv')

In [4]:
df

      temperature   humidity        ph    rainfall       label
0       20.879744  82.002744  6.502985  202.935536        rice
1       21.770462  80.319644  7.038096  226.655537        rice
2       23.004459  82.320763  7.840207  263.964248        rice
3       26.491096  80.158363  6.980401  242.864034        rice
4       20.130175  81.604873  7.628473  262.717340        rice
...           ...        ...       ...         ...         ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[3100 rows x 5 columns]

3100

In [5]:
x=df.iloc[:,:4].values
y=df.iloc[:,4].values

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [7]:
from sklearn.ensemble import RandomForestClassifier
m1=RandomForestClassifier()
m1.fit(x_train,y_train)
y1=m1.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y1,y_test)

0.9505376344086022

In [8]:
x_test

array([[ 26.96656378,  78.21047693,   6.239011  , 169.8391177 ],
       [ 18.20230419,  91.12282162,   7.01348151, 109.6623974 ],
       [ 28.81460716,  65.33538112,   7.58144289,  62.26242533],
       ...,
       [ 27.96236771,  84.15403614,   5.64448658,  97.55986676],
       [ 19.2582557 ,  14.2804191 ,   7.54525842,  65.78042032],
       [ 26.22367404,  62.26594559,   6.97959063, 193.7461968 ]])

In [9]:
m1.predict([[26.96656378,  78.21047693,   6.239011  , 169.8391177] ])

array(['Jute'], dtype=object)

In [10]:
pickle.dump(m1, open('model.pkl','wb'))

In [11]:
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[26.96656378,  78.21047693,   6.239011  , 169.8391177] ]))

['Jute']

In [14]:
m1.predict_proba([[20.879744	,82.002744	,6.502985	,202.935536	]])

array([[0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.02, 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.01, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.97, 0.  , 0.  ]])

In [15]:
s1=set()
for i in range(len(df['label'])):
    s1.add(df['label'][i])
list1=list(s1)
list1.sort()

31

In [31]:
#m1 is the trained model of Random Forest Classifier
a1=m1.predict_proba([[26.96656378,  78.21047693,   6.239011  , 169.8391177] ])
l1=[]
for j in range(len(a1)):
    l2=[]
    for i in range(len(a1[j])):
        if(a1[j][i]>0.2):
            l2.append(list1[i])
    l1.append(l2)

In [29]:
len(l1)

930

In [32]:
l1

[['Jute', 'Sugarcane']]